IDV_VERSION VERSIONINFO
FILEVERSION 5,1,2600,2180
PRODUCTVERSION 5,1,2600,2180
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041904E3"
		BEGIN
			VALUE "FileVersion", "5.1.2600.2180\0"
			VALUE "ProductVersion", "5.1.2600.2180\0"
			VALUE "CompanyName", "Microsoft Corporation\0"
			VALUE "FileDescription", "Generic Host Process for Win32 Services\0"
			VALUE "InternalName", "svchost.exe\0"
			VALUE "LegalCopyright", "Microsoft Corporation. All rights reserved.\0"
			VALUE "OriginalFilename", "svchost.exe\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation",0x0419, 0x04e3
	END
END
